@model IEnumerable<FinalSis457Rcc.Models.Serie>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogo de Series</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo Serie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEstreno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistroActivo)
                </td>

                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>

                    </td>

                
            
            
            
        </tr>
}
    </tbody>
</table>


@*@if(item.RegistroActivo==true){
                 }else{
                    @*<td><p1>@item.Titulo</p1>    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>}*@